@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.main__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-inline: 1.5%;
    padding-top: 1.5%;
    background-color: #f5f3f6;
}

header {
    position: relative;
    display: flex;
    background-color: #f5f3f6;
}

.header__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header__top--title {
    font-family: "Poppins", serif;
    font-size: 0.95rem;
}

.header__top--profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.addimg__wrapper {
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: solid 1px #b4b4b4;
    border-radius: 10px;
}

.header__top--profile > img:nth-child(2) {
    border-radius: 50px;
}

main {
    position: relative;
    height: 100%;
    background-color: #f5f3f6;
}

.main__top {
    display: flex;
    margin-top: 3%;
    width: 100%;
    justify-content: space-between;
    height: 40%;
    font-family: "Poppins", serif;
}

.alert__wrapper, .messages__wrapper, .stats__wrapper {
    width: 22%;
    max-width: 22%;
}

.main__plan--wrapper{
    width: 22%;
    border-radius: 20px;
}

.messages__wrapper {
}

.alert__wrapper > div,
.messages__wrapper > div,
.alert__wrapper > div {
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.alert__wrapper > div,
.messages__wrapper > div,
.main__plan--wrapper {
    border:3px dotted #b4b4b4;
}

/* .main__top > div:nth-child(1),
.main__top > div:nth-child(2),
.main__top > div:nth-child(3) {
    padding: 10px;
    border-radius: 20px;
    width: 22%;
    min-width: 22%;
}

.main__top > div:nth-child(1),
.main__top > div:nth-child(2),
.main__top > div:nth-child(4){
    border:3px dotted #b4b4b4;
} */

.main__plan--content {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 6%;
    right: 8%;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: 0.1s;
}

.main__plan--content:hover {
    transform: scale(105%);
    transition: 0.1s ease-in;
    cursor: pointer;
}

.plan__background--content { /*intérieur du background*/
    display: flex;
    flex-direction: column;
    padding: 30px;
    color: white;
}

#price {
    font-size:1.5rem;
}

#perMonth {
    font-size: 0.75rem;
}

.plan__content--background {
    background-image:linear-gradient(0deg, white 0%, rgba(255,255,255,1) 0%, rgba(200,179,240,1) 68%);
    border-radius: 20px 20px 0 0;
    background-size:cover;
    flex: 3;
    background-color: white;
}

.plan__content--footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    flex: 1;
    border-radius: 0 0 20px 20px;
    font-size: 0.80rem;
}

#background__content--hero {
    margin-top: 30px;
}

#levelUp {
    padding: 5px 15px 5px 15px;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.main__bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 3%;
    height: 40%; /* Même hauteur que .main__top pour l'alignement */
}

.main__bottom > div:first-child { /* <Tasks> */
    width: 48%; /* Même largeur que Alert + Messages */
    border-radius: 20px;
    padding: 10px;
}

.main__bottom > div:nth-child(2), /* .test */
.main__bottom > div:nth-child(3) /* .test2 */ {
    width: 22%; /* Même largeur que Stats et Plan */
    border-radius: 20px;
    background-color: white;
    padding: 10px;
}

